<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/styles.css"> 
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="main">
        <h4>Here is data:</h4>
        <hr>
        <ol>
        <li>Video:<snap class="names">{{.Name}}</snap></li>
        <li>Description:<snap class="names">{{.Desc}}</snap></li>
        <li>Date:<snap class="names">{{.Date}}</snap></li>
        <li>Views:<snap class="names">{{.Views}}</snap></li>
        </ol>
    </div>
    </body>
</html>