.main{
    width:50%;
    border: 1px solid black;
    margin:20px auto;
    padding: 10px;
    border-radius:10px;
    text-align:center;
}
.main ul{
    text-align: left;
}
.main .names{
    font-style: italic;
}
hr{
    width:75%;
}