<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    </head>
    <body>
        <div class="main">
        <h4>Enter channel:</h4>
        <hr>
        <span class="additional">Here you can enter any channel on youtube for grab data</span>
        <form action="/channelcheckprocess" method="POST">
            <input type="text" name="channelURL" placeholder="https://www.youtube.com/...">
            <input type="submit" value="Send">
        </form>
    </div>
    </body>
</html>