<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    </head>
    <body>
        <div class="main">
        <h4>Here is data:</h4>
        <hr>
        <form action="/channelcheckprocess" method="POST">
            <input type="text" name="channelURL">
            <input type="submit" value="Send">
            <a href="/channelcheck"><input type="button" value="Clear"></a>
        </form>
        <ul>
        <li>Video:<snap class="names">{{.Name}}</snap></li>
        <li>Description:<snap class="names">{{.Desc}}</snap></li>
        <li>Views:<snap class="names">{{.Views}}</snap></li>
        <li>Joined Date:<snap class="names">{{.Date}}</snap></li>
        <li>Subscribers:<snap class="names">{{.Subs}}</snap></li>
        </ul>
    </div>
    </body>
</html>