<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    </head>
    <body>
        <div class="main">
        <h4>Here is data:</h4>
        <hr>
        <a href="/videocheck">Video check</a>
        <a href="/channelcheck">Channel check</a>
        </div>
    </body>
</html>